# Basic Python Programming

Reference: Pierian Training, https://www.udemy.com/course/spark-and-python-for-big-data-with-pyspark/

## Object

### Number

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
1 + 1

2

In [6]:
1 * 3

3

In [7]:
1 / 2

0.5

In [8]:
2 ** 4

16

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
(2 + 3) * (5 + 5)

50

### Variable

In [12]:
x = 2

In [13]:
x = 2
y = 3

In [14]:
z = x + y

In [15]:
z

5

### Strings

In [16]:
'single quotes'

'single quotes'

In [17]:
"double quotes"

'double quotes'

In [18]:
"I'm Nat"

"I'm Nat"

In [19]:
'My name is "Nat"'

'My name is "Nat"'

In [20]:
"hello world".lower()

'hello world'

In [21]:
"hello world".upper()

'HELLO WORLD'

In [22]:
"hello world".capitalize()

'Hello world'

In [23]:
name = 'Nat'
age = 31

In [24]:
print(f'My name is: {name}, and my age is: {age}')

My name is: Nat, and my age is: 31

### Lists

In [25]:
[1, 2, 3]

[1, 2, 3]

In [26]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [27]:
my_list = ['a', 'b', 'c', 'd']

In [28]:
my_list.append('e')

In [29]:
my_list

['a', 'b', 'c', 'd', 'e']

In [30]:
my_list[0]

'a'

In [31]:
my_list[1]

'b'

In [32]:
my_list[:2]

['a', 'b']

In [33]:
my_list[2:]

['c', 'd', 'e']

In [34]:
my_list[2:4]

['c', 'd']

In [35]:
my_list[0] = 'test'

In [36]:
my_list

['test', 'b', 'c', 'd', 'e']

In [37]:
nest_list = [1, 2, 3, [4, 5, 'hello world']]

In [38]:
nest_list[3]

[4, 5, 'hello world']

In [39]:
nest_list[3][2]

'hello world'

In [40]:
nest_list[3][2].split(' ')

['hello', 'world']

In [41]:
nest_list[3][2].split(' ')[0]

'hello'

In [42]:
my_list

['test', 'b', 'c', 'd', 'e']

In [43]:
my_list.pop(0)

'test'

In [44]:
my_list

['b', 'c', 'd', 'e']

In [45]:
'b' in my_list

True

In [46]:
'a' in my_list

False

### Dictionaries

In [47]:
d = {'key1':'item1', 'key2':'item2'}

In [48]:
d

{'key1': 'item1', 'key2': 'item2'}

In [49]:
d['key1']

'item1'

In [50]:
d.keys()

dict_keys(['key1', 'key2'])

In [51]:
list(d.keys())

['key1', 'key2']

In [52]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

### Booleans

In [53]:
True

True

In [54]:
False

False

### Tuples

In [55]:
t = (1, 2, 3)

In [56]:
t[0]

1

In [57]:
t[0] = '4'

TypeError: 'tuple' object does not support item assignment

In [ ]:
locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles",
    (51.5074, -0.1278): "London"
}

In [ ]:
locations[(40.7128, -74.0060)]

In [ ]:
locations = {
    [40.7128, -74.0060]: "New York",
    [34.0522, -118.2437]: "Los Angeles",
    [51.5074, -0.1278]: "London"
}

### Sets

In [ ]:
{1, 2, 3}

In [ ]:
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

## Operation

### Basic operation

In [ ]:
1 > 1

In [ ]:
1 < 2

In [ ]:
1 == 1

In [ ]:
1 >= 1

In [ ]:
1 <= 1

In [ ]:
'hi' == 'bye'

### Logic operation

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## Statements

In [ ]:
if 1 < 2:
    print("yes")

In [ ]:
if 1 < 2:
    print("yes")
else:
    print("no")

In [ ]:
if 1 > 2:
    print("yes")
else:
    print("no")

In [ ]:
if 1 == 2:
    print("case 1")
elif 3 == 3:
    print("case 2")
else:
    print("case 3")

## Loops

### For loops

In [ ]:
seq = [1, 2, 3, 4, 5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print("hello")

In [ ]:
for item in seq:
    print(item * 2)

In [ ]:
map = {'a': 1, 'b': 2}

for key in map:
    print(key)

In [ ]:
map = {'a': 1, 'b': 2}

for key in map:
    print(f"key: {key}, value: {map[key]}")

### While loops

In [ ]:
i = 1

while i < 5:
    print(f"i is: {i}")
    i = i+1

### Range

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

In [ ]:
for i in range(1, 5):
    print(i)

In [ ]:
for i in range(0, 10, 2):
    print(i)

### List comprehension

In [ ]:
x = [1, 2, 3, 4]

In [ ]:
out = []

for item in x:
    out.append(item**2)

print(out)

In [ ]:
[item**2 for item in x]

## Function

In [ ]:
def add(x, y):
    """
    Adds two numbers together and prints the result.
    """
    print (x + y)

In [ ]:
add

In [ ]:
add(1, 2)

In [ ]:
def add(x, y=2):
    """
    Adds two numbers together and prints the result.
    """
    print (x + y)

In [ ]:
add(1)

In [ ]:
add(2, 3)

In [ ]:
add(x=2, y=3)

In [ ]:
def add(x, y):
    """
    Adds two numbers together and return the result.
    """
    return x + y

In [ ]:
result = add(2, 3)

In [ ]:
result

## Class

In [ ]:
class Account:
    # The __init__ method is a special method that initializes an instance of the class
    def __init__(self, name, balance):
        self.name = name # Assign the name attribute
        self.balance = balance # Assign the balance attribute

    # A method to show balance
    def show_balance(self):
        print(f"Your balance is {self.balance}")

    # A method to add deposit to an account
    def deposit(self, deposit):
        self.balance += deposit

In [ ]:
nat_account = Account('Nat', 0)

In [ ]:
nat_account

In [ ]:
nat_account.show_balance()

In [ ]:
nat_account.deposit(100)

In [ ]:
nat_account.show_balance()

## Library

### Numpy

For numerical computations

Install numpy with this command in terminal  
 - pip install numpy

In [ ]:
import numpy as np

In [ ]:
seq = [1, 2, 3, 4, 5, 6]

In [ ]:
array = np.array(seq)

In [ ]:
array

In [ ]:
array.shape

In [ ]:
array.reshape(2, 3)

In [ ]:
array.reshape(2, -1)

In [ ]:
array.reshape(-1, 2)

### Pandas

To manage structured data

Install pandas with this command in terminal  
 - pip install pandas

In [ ]:
import pandas as pd

In [ ]:
data_1 = {'a':1, 'b':10}
data_2 = {'a':2, 'b':20}

In [ ]:
data = [data_1, data_2]

In [ ]:
data

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df['a']

In [ ]:
df['a'].sum()

### Matplotlib

To plot visualization

Install pandas with this command in terminal  
 - pip install pandas

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data = [
    {'a':1, 'b':10},
    {'a':2, 'b':20}
]

df = pd.DataFrame(data)

In [ ]:
plt.plot(df['a'], df['b'])
plt.show()